#user-store-home {
    .store-transactions, .store-products {
        .transactions, .products {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: var(--ion-color-primary);
                width: 80px;
                height: 80px;
                color: #FFF;
                border-radius: 5px;
                box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
                .count {
                    font-size: 1.3rem;
                    text-align: start;
                }
                .status {
                    font-weight: bold;
                    font-size: .7rem;
                }
            }
        }
    }
}